<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<title>RestTemplate Demo</title>-->
    <!--<meta charset="utf-8"/>-->
    <!--<script>-->
        <!--function closePrint() {-->
            <!--window.close();-->
        <!--}-->
    <!--</script>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Post</h1>-->
    <!---->
    <!--<p th:text="'URL:' + ${print.in}"></p>-->
    <!--<button th:action="@{/preview/pdfview}" method="post">인쇄하기</button>-->
    <!--<button id="button__print-cancel" onclick="closePrint()">취소하기</button>-->
<!--</body>-->

<!--</html>-->